.dropViewer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--blue50);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(6px);
    overflow: hidden;
    animation: popup 0.3s cubic-bezier(.51,.79,.69,1.22) both;
}
.dropViewer.darkMode {
    background-color: var(--blue25);
}

@keyframes popup {
    from {scale: 0}
    to {scale: 1}
}

.dropViewer .dropWrapper {
    width: 90%;
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--fg);
    color: var(--bg);
    line-height: 1.5;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.dropViewer.darkMode .dropWrapper {
    background: var(--bg)
}
.dropViewer .dropWrapper p {
    font-size: 1.1rem;
}
.dropViewer .dropWrapper .dropDescription {
    font-size: 0.9rem;
    text-align: left;
    width: 100%;
    padding: 1rem 0;
}
.dropViewer .dropWrapper > p {
    font-size: 1.4rem;
}
.dropViewer.darkMode .dropWrapper p,
.dropViewer.darkMode .dropViewerHeader {
    color: var(--fg)
}
.dropViewer .dropWrapper i {
    font-size: 1.4rem;
    color: var(--blue)
}
.dropViewer .dropWrapper button i {
    color: var(--fg)
}
.dropViewer .dropViewerHeader {
    align-items: center;
    margin-bottom: 1rem;
}
.dropViewer .dropTitle {
    text-align: left;
    width: 100%;
}
.dropViewer .dropWrapper .dropCreator {
    text-align: left;
    font-size: medium;
    font-weight: 400;
    font-style: italic;
}
.dropViewer .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--fg);
    background: transparent;
    border: unset;
}

.dropViewer .deleteDropButton {
    border: none;
    padding: 0.5rem;
    margin: 0 1rem;
}
.dropViewer.darkMode .deleteDropButton i {
    color: var(--fg);
}
.dropViewer .deleteDropButton i {
    color: var(--bg);
}