:root {
    --bg: #111424;
    --bg50: #11142480;
    --bg80: #111424cc;
    --fg: #F1EFEF;
    --blue: #26A9E0;
    --blue25: #26A9E055;
    --blue50: #26A9E099;
    --blue80: #26A9E0dd;
    --basic: #dadee2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid pink; */
}

/* Apply font styles */
body {
    font-family: 'Source Sans 3', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
  }
  
  button, .navbar, .header-title {
    font-family: 'Lato', sans-serif;
  }
  
  p, .article-text, .description, input, textarea {
    font-family: 'Source Sans 3', sans-serif;
  }


.colorFG {
    color: var(--fg);
}
.colorBG {
    color: var(--bg);
}
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}
.textLarge {
    font-size: 2rem;
}
.flex {
    display: flex;
}
.flex.vertical {
    flex-direction: column;
}
.flex.wrap {
    flex-wrap: wrap;
}
.flex.center {
    justify-content: center;
    align-items: center;
}
.flex.spread {
    justify-content: space-between;
    align-items: center;
}
.flex1 {
    flex: 1;
}
.grid {
    display: grid;
}
.grid.center {
    align-items: center;
}
.gapS {
    gap: 0.5rem;
}
.gapM {
    gap: 1.2rem;
}
.gapL {
    gap: 2.5rem;
}
.padS {
    padding: 0.25rem;
}
.padM {
    padding: 0.6rem;
}
.padL {
    padding: 1.2rem;
}
.mAuto {
    margin: auto;
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.minH2 {
    min-height: 2rem;
}
.minH4 {
    min-height: 4rem;
}
.bgNone {
    background-color: transparent;
}
.circle {
    border-radius: 50%;
}
.rounded {
    border-radius: 0.5rem;
}
.borderThin {
    border: 1px solid #00000055;
}
.borderNone {
    border: none;
}
.shadowS {
    box-shadow: 1px 2px 4px #00000022, 0 0 10px #00000011;
}
.shadowL {
    box-shadow: 2px 2px 15px #ffffff88 inset, 2px 4px 16px #00000055, -6px -8px 25px #00000022;
}
.shadow3d {
    box-shadow: 
        2px 3px 14px #00000033,
        2px 2px 8px #ffffff55 inset,
        1px 1px 3px #ffffff55 inset,
        -3px -4px 15px #00000033 inset,
        0 -1px 5px #00000088 inset;
}
.shadowWall {
    box-shadow: 0 0 200px #000000;
}
.rotate90 {
    rotate: 90deg;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

html {
    background-color:var(--bg);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root #fullScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    max-width: 600px;
    height: 100%;
    z-index: 20000; 
    background: var(--bg);
    border: none;
}
#fullScreen img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

*.contentLoading {
    background-color: #ffffff11;
    background-image: linear-gradient(130deg, transparent 40%, #ffffff33, transparent 60%);
    background-size: 400%;
    border: none;
    animation: loadBG 1s infinite linear;
}
@keyframes loadBG {
    from {background-position: left;}
    to {background-position: right;}
}

#root {
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 100dvh;
    overflow-x: hidden;
}
#root a,
#root button {
    cursor: pointer;
}
#root a {
    text-decoration: none;
}
#root a,
#root a:active,
#root a:visited,
#root a:focus {
    color: inherit;
}
#root ul {
    list-style-type: none;
}

#root .appView {
    width: 100%;
    height: calc(100dvh - 80px);
    padding: 0 1rem;
    background-color: var(--bg);
}
#root .appView:has(.newDropPage) {
    padding: 0;
}

#root .contentWrap {
    width: 100%;
    height: 100%;
    padding: 1rem 0 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#root .contentWrap:has(.leaflet-container),
#root .appView:has(.leaflet-container),
#root .contentWrap:has(.typeSelector) {
    padding: 0 0;
}