.leaflet-container {
    width: 100%;
    height: 100%;
}


.you-icon {
    box-shadow: 0 0 20px #ffffff33;
}
.near-drop-icon {
    filter: grayscale(75%) contrast(80%);
}
.near-drop-icon.undiscovered {
    background-image: url('../assets/ripple.gif');
    background-size: 150%;
    background-position: center;
    overflow: visible;
    filter: none;
}
.leaflet-div-icon:has(.my-drop) {
    background: transparent;
    border: none;
}
.my-drop {
    background: center / cover url('../assets/drop.png') no-repeat;
    width: 40px;
    height: 40px;
}
.my-drop img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    bottom: 1px;
    left: 50%;
    translate: -50%;
}

.custom-marker-cluster {
    width: 40px;
    height: 70px;
}
.custom-marker-cluster .clusterCount {
    color: var(--fg);
    background-color: var(--blue);
    position: absolute;
    top: -30px;
    left: 50%;
    translate: -50%;
    width: 30px;
    height: 40px;
    border-radius: 15px;
    z-index: -1;
    text-align: center;
}
.custom-marker-cluster .clusterImage {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('../assets/multidrop.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.darkMode .custom-marker-cluster .clusterImage {
    background-image: url('../assets/multidrop-dark.png');
}

.leaflet-control-attribution {
    opacity: 0.3;
    translate: 0 -5px;
}

.leaflet-popup-content-wrapper {
    border-left: 4px solid var(--blue);
}

.leaflet-popup-content > .popupFrame {
    width: fit-content;
    min-width: 200px;
    max-width: 350px;
}

.leaflet-popup-content > .popupFrame .popupLeft p {
    color: var(--bg);
}
.leaflet-popup-content > .popupFrame .popupRight {
    min-width: 30px;
}
.leaflet-popup-content > .popupFrame .popupRight * {
    color: var(--blue);
}

.leaflet-popup-content > .popupFrame p {
    margin: 0.1rem;
}

.leaflet-popup-content > .popupFrame .popupTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.far-drop-icon {
    filter: blur(2px);
}
.popupCreatorImage {
    border: 1px solid var(--bg);
}
.viewButton {
    background-color: var(--blue);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.5rem 2.5rem;
    color: var(--fg);
    font-weight: 800;
}

.findMeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--blue);
    color: #ffffffdd;
    text-shadow: 1px 2px 4px #00000011;
    font-size: 1.4rem;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
    z-index: 9000;
    
}