.newDropPage {
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.1rem;
  /* padding: 0.75rem; */

  /* background-image: linear-gradient(var(--bg), var(--basic), var(--bg)); */
  --s: 150px; /* control the size*/
  --c1: #e3e7eb;
  --c2: var(--fg);

  --_g: var(--c1) 6.1%, var(--c2) 6.4% 18.6%, var(--c1) 18.9% 31.1%,
    var(--c2) 31.4% 43.6%, var(--c1) 43.9% 56.1%, var(--c2) 56.4% 68.6%,
    #0000 68.9%;
  background: radial-gradient(var(--s) at 100% 0, var(--_g)),
    radial-gradient(var(--s) at 0 0, var(--_g)),
    radial-gradient(var(--s) at 0 100%, var(--_g)),
    radial-gradient(var(--s) at 100% 100%, var(--_g)) var(--c1);
  background-size: var(--s) var(--s);
}


.newDropPage.darkMode {
  --c1: var(--bg);
  --c2: #0f1120;
}

.newDropPage > label {
  background-color: var(--blue50);
  cursor: pointer;
}
.newDropPage > label:hover {
  filter: brightness(105%)
}
.newDropPage > label i {
  color: var(--bg);
  font-size: 4rem;
}
.newDropPage.darkMode > label i {
  color: var(--basic);
}

.newDropPage .fullscreen {
  width: 100%;
  height: calc(100dvh - 80px);
  overflow-y: auto;
  position: fixed;
  z-index: 5000;
  background: var(--bg80);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  margin: auto;
  max-width: 600px;
  padding-bottom: 4rem;
}

/* -------------- Submission Modal */
#submissionForm {
  justify-content: flex-start;
  align-items: center;
  padding-top: 3.5rem;
  
}
#submissionForm input,
#submissionForm textarea {
  width: 80%;
  padding: 0.25rem;
  background: var(--bg80);
  font-size: 16px;
  color: var(--basic);
  border: 1px solid var(--basic);
}
#submissionForm textarea {
  min-height: 4rem;
  resize: none;
}

#cancelSubmission {
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  opacity: 0.8;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  border: 1px solid var(--basic);
}

#submissionForm img,
#submissionForm video {
  max-width: 30vh;
}

#submissionForm .dropContentText {
  padding: 1rem;
  background: var(--bg80);
  font-size: 16px;
  color: var(--basic);
  border: 1px solid var(--basic);
  width: 80%;
  margin: auto;
  line-height: 1.4;
}
#submitDrop {
  position:relative;
}
#submitDrop:disabled {
  filter: grayscale(80%);
}
#submitDrop.error {
  background-color: #ff0000a3;
}
#submitDrop.submitting::before {
  content: '';
  display: block;
  position: absolute;
  width: 140%;
  height: 140%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background-image: conic-gradient(transparent, transparent 180deg, white);
  mask-image: radial-gradient(transparent, transparent 55%, white 60%, white 65%, transparent 82%);
  animation: spin 1.2s infinite linear;
}
@keyframes spin {
  to {rotate: 360deg}
}

/* ------------- Desktop Video */

#shutter {
  position: absolute;
  top: 75%;
  width: 6rem;
  height: 6rem;
  background-color: var(--blue80);
  font-size: 3rem;
}

/* -------------- Text Drop */

.textDropInput {
  background-color: var(--basic);
  font-size: medium;
  font-weight: 200;
  color: var(--bg);
  width: 90%;
  padding: 0.5rem;
  resize: none;
}
.darkMode .textDropInput {
  color: var(--fg);
  background-color: #ffffff22;
}

#finishWriting {
  border-radius: 0.5rem;
  background-color: var(--blue80);
  border: none;
}
/* Audio  */

#audioCapture {
  display: block;
}

#recordButton {
  position: fixed;
  top: 42%;
  left: 50%;
  translate: -50% -50%;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  background-color: var(--blue);
}

.darkMode #recordButton:has(.recordingInProgress)::before {
  background-color: var(--fg);
}
#recordButton:has(.recordingInProgress)::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -100;
  border-radius: 35%;
  background-color: var(--bg);
  display: block;
  filter: blur(18px);
  mask-image: radial-gradient(transparent 50%, transparent 60%, black);
  animation: blobRotate 4s linear infinite;
}

@keyframes blobRotate {
  0% {
    border-radius: 35%;
    rotate: 0deg;
    scale: 1;
  }
  20% {
    rotate: 72deg;
    border-radius: 55% 40% / 60% 70%;
    scale: 0.8;
  }
  40% {
    rotate: 144deg;
    border-radius: 45% 50% / 50% 40%;
    scale: 1.2;
  }
  60% {
    rotate: 216deg;
    border-radius: 70% 90% / 30% 25%;
    scale: 0.9;
  }
  80% {
    rotate: 288deg;
    border-radius: 40% 20% / 70% 65%;
    scale: 1.1;
  }
  100% {
    rotate: 360deg;
    border-radius: 35%;
    scale: 1;
  }
}
